
.animal {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-left: 20px;
}

.sidebar {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-left: 20px;
}

.sidecard {
   
}

.side {
    width: 700px;
    margin: 20px;
}